<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AddressBook</title>
  </head>
  <body>
    <h1>Word Counter!</h1>
    <form action="/result" method="post">
      <label for="new-word">Enter a word</label>
      <input id="new-word" name="new-word" type="text">
      <label for="new-phrase">Enter a phrase</label>
      <input id="new-phrase" name="new-phrase" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
